Final Project (50%)
Executable distribution at UH google drive
Source code at UH google drive
Quality of the game
Quality & quantity of your participation
Peer Reviews

Web site (30%)
2 minute gameplay video
Synopsis of game
Team members, photo, & contact info
Publically viewable spreadsheet of progress
Art
  Storyboards
  Sketches and concept art
Screenshots
  Final
  Prototype(s)
